body {
  margin: 0;
  color: #fff;
  display: flex;
  font-family: Arial;
  height: 100vh;
  overflow: hidden;
}
#nowPlaying {
  display: flex;
  font-size: 14px;
  margin: 10px;
}
#currentInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: start;
  height: 55px;
}
#currentLogo {
  height: 80px;
  max-width: 140px;
  margin-right: 20px;
}
#currentTitle {
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  max-width: 50vw;
  padding: 6px;
  color: #212121;
  background: #444;
  border-radius: 12px 0;
  position: relative;
}
#currentTitle::after {
  content: attr(data-category);
  position: absolute;
  left: 0;
  top: 115%;
  color: #444;
  white-space: nowrap;
}
#playerContainer {
  flex: 3;
  display: flex;
  background: black;
  position: relative;
}
#controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 200px;
  display: none;
  align-items: center;
  justify-content: space-between;
  transform: translateX(-50%);
  background: #212121;
  border-radius: 12px;
  padding: 5px;
  z-index: 10;
}
#controls.visible {
  display: flex;
}
#controls div {
	display: flex;
	align-items: center;
}
#playPauseBtn,
#volumeBtn,
#fullscreenBtn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 12px;
  background: transparent;
  color: white;
  cursor: pointer;
  padding: 0;
}
#volumeBtn,
#fullscreenBtn {
  background-image: url('../images/fullscreen-enter.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px;
}
#fullscreenBtn.fullscreen {
  background-image: url('../images/fullscreen-exit.svg');
}
video {
  width: 100%;
  height: 100%;
  background: black;
}
#leftPanel {
  flex: 1;
  background: #212121;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#tools {
  display: flex;
  padding: 10px;
  gap: 8px;
}
#searchInput {
  flex: 1;
  padding: 6px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: #2a2a2a;
  color: white;
}
#randomBtn,
#backBtn,
#categoriesBtn {
  width: 40px;
  height: 30px;
  border: none;
  border-radius: 12px;
  background: #333;
  color: white;
  cursor: pointer;
}
#backBtn {
  display: none;
}
.channel {
  display: flex;
  align-items: center;
  padding: 12px 25px 12px 12px;
  cursor: pointer;
  gap: 8px;
  margin: 0;
}
.channel:hover {
  background: #333;
}
.channel.active {
  background: #444;
}
.channel[data-type="all"],
.channel[data-type="category"] {
  height: 52px;
  box-sizing: border-box;
}
.channel-flag {
  flex-shrink: 0;
  font-size: 16px;
  line-height: 1;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.channel-flag img {
  width: 28px;
}
.channel-text img {
	width: 18px;
	opacity: .5;
	margin-left: 10px;
}
.channel-text {
  display: flex;
  word-break: break-word;
}
@-moz-document url-prefix() {
  #channelList {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, .5);
  }
}
#channelList {
  flex: 1;
  overflow-y: auto;
  background: #181818;
}
#channelList::-webkit-scrollbar {
  width: 8px;
}
#channelList::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .5);
  border-radius: 8px;
}
#volumeSlider{
  -webkit-appearance: none;
  width: 100px;
  height: 4px;
  cursor: pointer;
  border-radius: 12px;
  margin-right: 10px;
}
#volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff !important;
}
#volumeSlider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff !important;
  border: none !important;
  box-shadow: none !important;
}
